@import "../breakpoints.scss";

.mainContainer {
  padding-top: 111px;
  padding-bottom: 40px;

  .productsContainer {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;

    @include xl {
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
